@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.bg-black{
	background: #000;
}

.f11 {
    font-size: 11px;
}

.f12 {
    font-size: 12px;
}

.f13 {
    font-size: 13px;
}

.f14 {
    font-size: 14px;
}

.f15 {
    font-size: 15px;
}

.f16 {
    font-size: 16px;
}

.f17 {
    font-size: 17px;
}

.f18 {
    font-size: 18px;
}

.f19 {
    font-size: 19px;
}

.f20 {
    font-size: 20px;
}

.fw100 {
    font-weight: 100;
}

.fw200 {
    font-weight: 200;
}

.fw300 {
    font-weight: 300;
}

.fw400 {
    font-weight: 400;
}

.fw500 {
    font-weight: 500;
}

.fw600 {
    font-weight: 600;
}

.fw700 {
    font-weight: 700;
}

.fw800 {
    font-weight: 800;
}




.navbar{
	border-bottom:3px solid #000;
}

.slider-container {
  width: 100%;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  flex: 0 0 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
}

@media (max-width: 768px) {
	.slide {
  flex: 0 0 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
 }
}

.h1title{
	font-family: 'Bebas Neue', sans-serif;
	font-weight:500;
}

.h1title:after{
 content: '';
 display:block;
	border:3px solid orange;
	width:50px;
}


.img-cover{
	object-fit:cover;
}

.card-footer{
	height:120px;
}